
services:

  jeap-process-context-service-db-local:
    image: postgres:15.3
    ports:
      - "5432:5432"
    environment:
#      - POSTGRES_USER=processcontext <- non-default name (postgres) users seem to miss superuser rights needed to enable extensions
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=jme-process-context-service-db-local

  ############################################
  # First Kafka Cluster ("cluster1")
  ############################################

  cluster1-zookeeper:
    image: confluentinc/cp-zookeeper:5.3.1
    hostname: cluster1-zookeeper
    container_name: cluster1-zookeeper
    ports:
      - "2000:2000"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2000
      ZOOKEEPER_TICK_TIME: 2000
  cluster1-zookeeper_init:
    image: confluentinc/cp-zookeeper:5.3.1
    command: "kafka-configs --zookeeper cluster1-zookeeper:2000 --alter --add-config 'SCRAM-SHA-512=[password=user-secret]' --entity-type users --entity-name user"
    depends_on:
      - cluster1-zookeeper

  cluster1-broker:
    image: confluentinc/cp-enterprise-kafka:5.3.1
    hostname: cluster1-broker
    container_name: cluster1-broker
    depends_on:
      - cluster1-zookeeper
    ports:
      - "10000:10000"
    volumes:
      - ./kafka_server_jaas.conf:/etc/kafka/kafka_server_jaas.conf
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'cluster1-zookeeper:2000'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:SASL_PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://cluster1-broker:29092,PLAINTEXT_HOST://localhost:10000
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/kafka_server_jaas.conf"
      KAFKA_SASL_ENABLED_MECHANISMS: SCRAM-SHA-512
      ZOOKEEPER_SASL_ENABLED: 'false'
      CONFLUENT_METRICS_ENABLE: 'false'
      KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: 'false'
      CONFLUENT_SUPPORT_CUSTOMER_ID: 'anonymous'

  cluster1-schema-registry:
    image: confluentinc/cp-schema-registry:5.3.1
    hostname: cluster1-schema-registry
    container_name: cluster1-schema-registry
    depends_on:
      - cluster1-zookeeper
      - cluster1-broker
    ports:
      - "11000:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: cluster1-schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL: 'cluster1-zookeeper:2000'

  ############################################
  # Second Kafka Cluster ("cluster2")
  ############################################

  cluster2-broker:
    image: confluentinc/cp-kafka:7.5.0
    hostname: broker
    container_name: broker
    ports:
      - "12000:12000"
    volumes:
      - ./kafka_server_jaas.conf:/etc/kafka/kafka_server_jaas.conf
    environment:
      # KRaft mode settings
      KAFKA_BROKER_ID: 1
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker:29093'
      # KRaft cluster ID - format properly, a 22-character base64-encoded string, for the confluent platform
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:SASL_PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://cluster2-broker:29092,PLAINTEXT_HOST://localhost:12000
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:12000,CONTROLLER://0.0.0.0:29093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      # Authentication
      KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/kafka_server_jaas.conf"
      KAFKA_SASL_ENABLED_MECHANISMS: SCRAM-SHA-512
      # Temporary storage settings
      KAFKA_LOG_DIRS: /tmp/kafka-logs
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  cluster2-broker-init:
    image: confluentinc/cp-kafka:7.5.0
    command: "kafka-configs --bootstrap-server cluster2-broker:29092 --alter --add-config 'SCRAM-SHA-512=[password=cluster2-secret]' --entity-type users --entity-name cluster2-user"
    depends_on:
      - cluster2-broker

  cluster2-schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0
    hostname: schema-registry
    container_name: schema-registry
    depends_on:
      - cluster2-broker
      - cluster2-broker-init
    ports:
      - "13000:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://cluster2-broker:29092

  ############################################
  # S3 Object Storage
  ############################################
  minio:
    image: minio/minio:RELEASE.2024-06-26T01-06-18Z
    hostname: 'minio'
    container_name: 'jme-process-context-minio'
    volumes:
      - data:/data
    ports:
      - "9000:9000"
    environment:
      MINIO_ROOT_USER: local
      MINIO_ROOT_PASSWORD: localsecret
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 5s
      timeout: 5s
      retries: 5
    command: server /data

  mc:
    image: minio/mc:RELEASE.2024-06-24T19-40-33Z
    container_name: 'jme-process-context-mc'
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host add --api s3v4 minio http://minio:9000 local localsecret;
      /usr/bin/mc mb --ignore-existing minio/jme-processcontext-obs/;
      "
    depends_on:
      minio:
        condition: service_healthy

volumes:
  data:
